<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>BlogBuzz - Read this wonderful blog</title>
    <link rel="icon" type="png" href="https://media.istockphoto.com/id/1200899039/photo/one-like-social-media-notification-with-thumb-up-icon.webp?a=1&b=1&s=612x612&w=0&k=20&c=oAfH1-YEsng29b5S9OTs_WF4VRumWISXZDSS0uzhzio=">
</head>
<body>
    <%- include("./partials/nav") %>
    
    <div class="container mt-4">
        <h1 class="mt-4 text-center"><%= blog.title %></h1>
        <img class="mt-4" style="margin-left: 430px;" src="<%= blog.coverImageURL %>" width="250px"/>
        <p class="mt-4" style="overflow: hidden;"><%= blog.body %></p>
    </div>

    <div class="container mt-4">
        <img src="<%= blog.createdBy.profileImageURL %>" width="30px"/>
        <%= blog.createdBy.fullName %>
    </div>

    <div class="container mt-5">
        <h1>Comments (<%= comments.length %>)</h1>
        <% if (locals.user) { %>
            <form class="mt-4" action="/blog/comment/<%= blog._id %>" method="post">
                <div class="mb-3">
                  <input type="text" name="content" class="form-control" placeholder="Enter your comment">
                </div>
                <button class="btn btn-sm btn-primary" type="submit">Add</button>
            </form>
        <% } %>
    </div>

    <div class="mt-5" style="margin:80px ;">
        <% comments.forEach(comment => { %>
            <div class="mt-3" style="margin-bottom:30px ;">
                <img src="<%= blog.createdBy.profileImageURL %>" width="30px"/>
                <%= comment.createdBy.fullName %> : <%= comment.content %><br>
            </div>
        <% }) %>
    </div>

    <%- include("./partials/scripts") %>
</body>
</html>
